
.header {
  border: 10px solid #1f1f1f;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;

}

.header-text {
  color: white;
  font-size: 44px;
}

.register-button {
  background-color:#44c767;
  border-radius:4px;
  border:1px solid #2a2929;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  position: absolute;
  top: 40px;
  right: 26px;
}
.register-button:hover {
  background-color:#5cbf2a;
}

.login-button {
  background-color:#d11e1e;
  border:1px solid #2a2929;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  position: absolute;
  top: 40px;
  right: 216px;
}
.login-button:hover {
  background-color:#ff0000;
}

.new-navbar {
  overflow: hidden;
  border: 10px solid #1f1f1f;
  background-color: #333;
}


.new-navbar a:hover{
  cursor: pointer;
  background-color: #ddd;
  color: black;
  text-decoration: none;
}


.left-nav {
  position: absolute;
  left: auto;
  border: 10px solid #1f1f1f;
  background-color: #333;
  height: 100%;
}

.left-nav div {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  width: 78%;
  text-decoration: none;
  font-size: 24px;
}

.left-nav div:hover {
  background-color: #ddd;
  color: black;
}

.left-nav div.active {
  background-color: #44c767;
  color: white;
}

.home-container {
  padding-left: 200px;
  background-color: #1f1f1f;
  color: white;
  border: 10px solid #1f1f1f;
}

.content-container {
  text-align: center;
}

.image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

b {
  font-size: 24px;
  text-align: justify;
}

.match-pair-container {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
  color: black;
  border: 5px;
  border: 10px solid #333333;
  border-radius: 25px;
  padding: 25px;
  margin-top: 10px;
  width: 70%;
}

.invest-page-container {
  text-align: center;
  margin-left: 25%;
}

.fix-match-page-container {
  text-align: center;
  margin-left: 25%;
}

.match-container {
  background-color: darkgrey;
  border: 5px solid black;
  width: 40%;
  text-align: center;
  border-radius: 8px;
}

.match-content-container {
  display: flex;
  justify-content: space-between;
}

.odds-container {
  text-align: left;
}

.invest-calculate-container {
  color: #f2f2f2;
  width: 70%;
  height: 50px ;
  border-radius: 8px;
  text-align: center;
  border: 5px solid black;
}

.invest-container-title {
  color: #f2f2f2;
  width: 70%;
  height: 50px ;
}

.match-title {
  color: #f2f2f2;
}

.matches-text {
  font-size: 24px;
  text-align: justify;
  color: white;
}

.fixProfitTitle{
  color:red;
}

.register-container {
  display: flex;
  justify-content: center;
}

.register-container label{
  color: white;
}

.register-container button{
  padding: 8px;
  margin-top: 15px;
  background-color: white;
}
