.sub-title{
  color: white;
  font-size: large;
  padding-left: 50px;
  padding-top: 50px;
}
.header {
  border: 10px solid #1f1f1f;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;

}

.header-text {
  color: white;
  font-size: 44px;
}

.register-button {
  background-color:#44c767;
  border-radius:4px;
  border:1px solid #2a2929;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  position: absolute;
  top: 40px;
  right: 26px;
}
.register-button:hover {
  background-color:#5cbf2a;
}

.login-button {
  background-color:#d11e1e;
  border:1px solid #2a2929;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  position: absolute;
  top: 40px;
  right: 216px;
}
.login-button:hover {
  background-color:#ff0000;
}

.new-navbar {
  border: 10px solid #1f1f1f;
  background-color: #333;
}


.nav-direct:hover{
  cursor: pointer;
  background-color: #ddd;
  color: black;
  text-decoration: none;
}


.left-nav {
  position: absolute;
  left: auto;
  border: 10px solid #1f1f1f;
  background-color: #333;
  height: 100%;
}

.left-nav div {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  width: 78%;
  text-decoration: none;
  font-size: 24px;
}

.left-nav div:hover {
  background-color: #ddd;
  color: black;
}

.left-nav div.active {
  background-color: #44c767;
  color: white;
}

.home-container {
  padding-left: 200px;
  background-color: #1f1f1f;
  color: white;
  border: 10px solid #1f1f1f;
}

.content-container {
  text-align: center;
}

.image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.home-image-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

b {
  font-size: 24px;
  text-align: justify;
}

.match-odds-title{
  display: flex;
  flex-wrap: nowrap;
}
#bestHome{
  padding-left: 20%;
}

#bestGuest{
padding-left: 40%;
}

.match-pair-container {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
  color: black;
  border: 5px;
  border: 5px solid #333333;
  border-radius: 25px;
  padding: 25px;
  margin-top: 30px;
  width: 70%;
  box-shadow: 10px 10px 5px 5px gray;
}

.invest-calculate-container{
  font-family: "Times New Roman", Times, serif;
  color: #f2f2f2;
  text-align: center;
  font-size: large;
  border: 5px;
  border: 5px solid #333333;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 25px;
  width: 70%;
  box-shadow: 10px 10px 5px 5px gray;
}

#invest-odds{
  border-radius: 10px;
  width: 100px;
  padding-left: 10px;
  margin-left: 10px;
}

.invest-page-container {
  text-align: center;
  margin-left: 25%;
}

.fix-match-page-container {
  text-align: center;
  margin-left: 25%;
}

.match-container {
  background-color: darkgrey;
  border: 5px solid black;
  width: 40%;
  text-align: center;
  border-radius: 8px;
}

.match-content-container {
  display: flex;
  justify-content: space-between;
}

.odds-container {
  text-align: left;
}

.invest-container-title {
  color: #f2f2f2;
  width: 70%;
  height: 50px ;
}

.match-title {
  color: #f2f2f2;

}

.matches-text {
  font-size: 24px;
  text-align: justify;
  color: white;
}

.fixProfitTitle{
  color:white;
  padding-top: 10px;
}

.register-container {
  display: flex;
  justify-content: center;
}

.register-container label{
  color: white;
}

.register-container button{
  padding: 8px;
  margin-top: 15px;
  background-color: white;
}

.dropbtn {
  background-color: #3333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 9999;
  cursor: pointer;
  font-size: larger;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}


#batman{
  max-width: 80px;
}

#bat_title{
  padding-left: 10px;
  max-width: 500px;
}

#bats1{
  padding-right: 200px;
}

#players{
  font-size: 35px;
}

#time{
  font-size: 24px;
}

#sport{
  text-align: right;
  padding-right: 10px;
}
